{% extends "document.html" %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div class="login-form" style="margin-top: 58px">
            {% include 'parts/flash.html' %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-6">
                    <h1 class="h6 mb-0">Surveys</h1>
                </div>
                <div class="col-md-6">
                    <form action="/survey/all">
                        <input value="{{s}}" type="search" placeholder="Search" name="s" class="form-control">
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-stripe">
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th></th>
                    </tr>
                    {% for survey in surveys %}
                        <tr>
                            <td>{{survey.dateVisited|format_date('MMM DD, YYYY')}}</td>
                            <td>{{survey.name}}</td>
                            <td>{{survey.contact}}</td>
                            <td>
                                <a href="/survey/{{survey.id}}/download">Download</a> | <a class="text-danger font-weight-bold" href="/survey/{{survey.id}}/delete">✗</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}