{% extends "document.html" %}
{% block body %}
<div class="row">
    <div class="col-12">
        <div id="vApp" v-cloak :data-pending="pending" class="login-form" style="margin-top: 58px">
            {% include 'parts/flash.html' %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-6">
                    <h1 class="h6 mb-0">{{tarp.purpose}}</h1>
                </div>
                <div class="col-md-6 text-right">
                    <a href="/admin/tarp/all" class="btn btn-light">&laquo; Back</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-sm table-striped">
                    <tr>
                        <td width="10%" class="text-right">Status</td>
                        <td>
                            <div v-for="(status,i) in ['Pending', 'Printed', 'Claimed', 'Done']" class="form-check">
                                <input @change="onChange($event)" v-model="tarp.status" class="form-check-input" type="radio" name="status" :id="'status'+status" :value="status">
                                <label class="form-check-label" :for="'status'+status" >${status} - <em>${statusDesc[i]}</em></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Created</td>
                        <td>{{tarp.createdAt|format_date('MMM DD, YYYY hh:mm A')}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Needed</td>
                        <td>{{tarp.dateNeeded|format_date('MMM DD, YYYY')}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Purpose</td>
                        <td>{{tarp.purpose}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Content</td>
                        <td>{{tarp.content}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Description</td>
                        <td>{{tarp.instructions}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Dimensions <br><small><em>(Width x Height)</em></small></td>
                        <td>
                            <div style="width: {{tarp.width|pixelScaled(50)}}px; height: {{tarp.height|pixelScaled(50)}}px; border: 3px solid #fff;; position: relative;">
                                <div style="position: absolute; left: 2px; top: 50%; transform: translate(0, -50%);">{{tarp.height}} {{tarp.heightUnit}}</div>
                                <div style="position: absolute; left: 50%; top: 2px; transform: translate(-50%, 0);">{{tarp.width}} {{tarp.widthUnit}}</div>
                            </div>
                            <div>
                                <small><em>{{tarp.width}} {{tarp.widthUnit}} x {{tarp.height}} {{tarp.heightUnit}}</em></small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Format</td>
                        <td>{{tarp.format}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">Quantity</td>
                        <td>{{tarp.quantity}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>account</title><path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" /></svg></td>
                        <td>{{tarp.requestor}} - <em>{{tarp.department}}</em></td>
                    </tr>
                    <tr>
                        <td class="text-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>gmail</title><path fill="#ea4335" d="M20,18H18V9.25L12,13L6,9.25V18H4V6H5.2L12,10.25L18.8,6H20M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" /></svg></td>
                        <td>{{tarp.email}}</td>
                    </tr>
                    <tr>
                        <td class="text-right"><svg width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>FB</title><path fill="#0866ff" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" /></svg></td>
                        <td>{{tarp.fb}}</td>
                    </tr>
                    <tr>
                        <td class="text-right">QR</td>
                        <td>
                            <div class="">
                                <img style="max-width: 100%" src="data:image/png;base64, {{qrCode|safe}}" alt="QR">
                            </div>
                            <div class="input-group">
                                <input id="qrPayload" type="text" readonly class="form-control" :value="qrPayload" />
                                <div class="input-group-append">
                                    <button @click="copy" class="copy-link btn btn-outline-primary" type="button">Copy </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">Attachments</td>
                        <td>
                            <div class="d-flex flex-wrap">
                                <div v-for="a in tarp.attachments" class="p-1 border m-1" style="position: relative;">
                                    <button @click.prevent="deleteAttachment(a)" type="button" class="btn btn-danger btn-sm" style="position: absolute; right: 0; top: 0">
                                        X
                                    </button>
                                    <div>
                                        <a :href="`/file-viewer/mis-gsu-ph/files-live/${a}`">
                                            <img :src="`/file-getter/mis-gsu-ph/files-live/small-${a}`" alt="attachment">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <form v-if="tarp.attachments?.length <= 2" ref="form" v-on:submit.prevent="onSubmit" action="" method="POST" class="">
                                <div class="form-group">
                                    <div>
                                        <canvas id="canvas1" height="20" style="width: 100%; height: auto;"></canvas>
                                        <input name="attachment" v-model="attachment" type="hidden">
                                        <div class="d-flex">

                                            <input v-on:change="readFile($event, 'attachment', 'canvas1')" ref="attachment" type="file" class="form-control">
                                            <button :disabled="disabled" class="btn btn-primary">Upload</button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-file-upload.js"></script>
<script>
    var acsrf = '{{acsrf}}';
    var tarp = {{tarp|stringify|safe}}
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            VueFileUpload.mixin, // vue-file-upload.js
        ],
        data: {
            pending: false,
            tarp: tarp,
            attachment: '',
            qrPayload: '{{qrPayload}}',
            statusDesc: [
                'Received but not yet created and printed.',
                'Printed and ready for pickup.',
                'Claimed by requestor. Awaiting photo of posting.',
                'Done.',
            ]
        },
        computed: {
            disabled: function () {
                return this.attachment ? false : true
            }
        },
        methods: {
            copy: function(){
                document.getElementById('qrPayload')?.select()
                document.execCommand('copy');
                alert('Link copied to clipboard.')
            },
            deleteAttachment: function(attachment) {
                var me = this;
                if(!confirm('Delete permanently?')){
                    return
                }
                me.pending = true

                me.$nextTick(function () {
                    fetch(`/admin/tarp/${me.tarp.id}/delete-attachment`, {
                        method: 'POST',
                        body: JSON.stringify({
                            acsrf: acsrf,
                            attachment: attachment
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(async function (response) {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error(await response.text())
                    }).then(function (responseJson) {
                        // alert('Updated status.')
                        me.tarp = responseJson
                        me.attachment = ''
                    }).catch(async function (error) {
                        console.error(error)
                    }).then(function () {
                        me.pending = false
                    });
                });

            },
            onSubmit: function(){
                var me = this;
                me.pending = true

                me.$nextTick(function () {
                    fetch(`/admin/tarp/${me.tarp.id}/set-attachment`, {
                        method: 'POST',
                        body: JSON.stringify({
                            acsrf: acsrf,
                            attachment: me.attachment
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(async function (response) {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error(await response.text())
                    }).then(function (responseJson) {
                        window.location.reload(false);
                    }).catch(async function (error) {
                        console.error(error)
                    }).then(function () {
                        me.pending = false
                    });
                });
            },
            onChange: function(e){
                var me = this;
                if(me.pending){
                    return;
                }
                me.pending = true

                // console.log(e);
                me.$nextTick(function () {
                    fetch(`/admin/tarp/${me.tarp.id}/set-status`, {
                        method: 'POST',
                        body: JSON.stringify({
                            acsrf: acsrf,
                            status: me.tarp.status
                        }),
                        headers: {
                            'Content-Type': 'application/json',
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    }).then(async function (response) {
                        if (response.ok) {
                            return response.json();
                        }
                        throw new Error(await response.text())
                    }).then(function (responseJson) {
                        // alert('Updated status.')
                    }).catch(async function (error) {
                        console.error(error)
                    }).then(function () {
                        me.pending = false
                    });
                });
            }
        }
    })
</script>
{% endblock %}