{% extends "document.html" %}

{% block body %}
    <div class="row text-white">
        <div class="col-md-12 pb-5">
            <header class="text-center pl-5 pr-5">
                <img class="mb-4" width="250" height="250" src="/images/logo-mis.png" alt="MIS Logo">
                <h1 class="h4">Management Information System Office Portal</h1>
            </header>
            {% include 'parts/offered.html' %}
            <div class="text-center">
                <a href="/services/survey" class="btn btn-sm btn-light mb-1">Client Satisfaction Survey</a>
            </div>
        </div>
    </div>
    <div class="row text-white align-items-center mb-5">
        <div class="col-md-6 text-center">
            <img src="/images/944.png" width="300" height="300" alt="Multimedia Image">
        </div>
        <div class="col-md-6 text-justify">
            <h2 class="h5">Multimedia</h2>
            <div>
                <p>We design print media such as tarpaulins and programs. We also do photo and video documentation of events such as training and seminars.</p>
                <div>
                    <a href="/services/tarp" class="btn btn-sm btn-light mb-1">Tarpaulin Design</a>
                    <a href="/services/video" class="btn btn-sm btn-light mb-1">Photo/Video Documentation</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-white align-items-center mb-5">
        <div class="col-md-6 order-md-1 order-2 text-justify">
            <h2 class="h5">Data-banking</h2>
            <div>
                <p>We store soft copy of certain institutional files. We also provide tools for data-banking. See below: </p>
                <div>
                    <a href="https://github.com/gsu-edu-ph-mis/mis-automation" class="btn btn-sm btn-light mb-1">Download MIS Automation</a>
                    <!-- <a href="mailto:mis@gsu.edu.ph" class="btn btn-sm btn-light mb-1">Message mis@gsu.edu.ph</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center">
            <img src="/images/875.png" width="300" height="300" alt="Data-banking Image">
        </div>
    </div>
    <div class="row text-white align-items-center mb-5">
        <div class="col-md-6 order-2 text-justify">
            <h2 class="h5">Online Postings</h2>
            <div>
                <p>We can post your announcements on our Facebook page and website. Please send us a message.</p>
                <div>
                    <a href="mailto:mis@gsu.edu.ph" class="btn btn-sm btn-light mb-1">Email Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 order-1 text-center">
            <img src="/images/861.png" width="300" height="300" alt="Online Postings Image">
        </div>
    </div>
    <div class="row text-white align-items-center mb-5">
        <div class="col-md-6 order-md-1 order-2 text-justify">
            <h2 class="h5">Technical Support</h2>
            <div>
                <p>We can help with technical problems related to your HRIS account.</p>
            </div>
            <div>
                <a href="mailto:mis@gsu.edu.ph" class="btn btn-sm btn-light mb-1">Email Us</a>
            </div>
        </div>
        <div class="col-md-6 order-md-2 order-1 text-center">
            <img src="/images/855.png" width="300" height="300" alt="Technical Support Image">
        </div>
    </div>
    <div class="row text-white align-items-center mb-5">
        <div class="col-md-6 order-2 text-justify">
            <h2 class="h5">Systems Development</h2>
            <div>
                <p>We maintain and develop information systems for use by the university.</p>
            </div>
            <div class="text-center">
                <a href="https://www.gsu.edu.ph" class="btn btn-sm btn-light mb-1">GSU Website</a>
                <a href="https://journals.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Journal Publications</a>
                <a href="https://bacis.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Bids and Awards Committee Information System</a>
                <a href="https://hris.gsu.edu.ph" class="btn btn-sm btn-light mb-1">Human Resource Information System</a>
                <!-- <a href="https://github.com/gsu-edu-ph-mis" class="btn btn-sm btn-light mb-1">Github</a> -->
            </div>
        </div>
        <div class="col-md-6 order-1 text-center">
            <img src="/images/911.png" width="300" height="300" alt="Systems Development Image">
        </div>
    </div>
{% endblock %}
</body>
</html>
